:root{
    
    --title-color: #333333;
    --text-color: #B6B6B6;
    --logo-color: #95E1D3;
    --line-color: #F38181;
    --background-color: #fff;
}
.line{
    width: 60px;
    height: 4px;
    background-color: var(--line-color);
    margin-top: 40px;
    margin-bottom: 60px;
}
header{
    color:var(--logo-color);
}
a{
color: aqua;

}
.qqq{
    color: aquamarine;
}
.linetwo{
    background-color:var(--text-color);
    height: 1px;
    width: 1200px;
}
.button{
    background-color: var(--logo-color) ;
    border: none;
    color:var(--background-color);
    padding: 14px 40px;
    cursor: pointer;
}
.input{
    padding: 12px 10px;
    color: var(--text-color);
    width: 230px;

}
.text{
    font-weight: 400;
    font-size: 24px;
}
.title{
    font-weight: 700;
    font-size: 30px;
    color: var(--title-color);
}
